.container
  %h1= t Author.model_name.human
  %table.table.table-striped
    %tbody
      - @author.attributes.each do |key, value|
        - unless key == 'id' || key.include?('digest') || key == 'created_at' || key == 'updated_at'
          %tr
            - if key == 'status'
              %td= t 'status.status'
              %td= status_mark @author.status
            - elsif key == 'ancestry'
              - if @author.parent.present?
                %td= t 'tree.parent'
                - if Author.column_names.include? 'title'
                  %td= "#{@author.parent.title} (id: #{@author.ancestry})"
                - elsif Author.column_names.include? 'name'
                  %td= "#{@author.parent.name} (id: #{@author.ancestry})"
                - else
                  %td= "#{@author.ancestry})"
              - if @author.children.present?
                %tr
                  %td= t 'tree.children'
                  %td
                    - @author.children.each do |child|
                      - if Author.column_names.include? 'title'
                        = "#{child.title} (id=#{child.id})"
                      - elsif Author.column_names.include? 'name'
                        = "#{child.name} (id=#{child.id})"
                      - else
                        = "#{child.id}"
                      - unless child == @author.children.last
                        %br
            - else
              %td= t "activerecord.attributes.author.#{key}"
              %td= value
      = render 'admin/shared/show_images', object: @author
  = render 'admin/shared/show_rich_text_content', object: @author
  = render 'admin/shared/show_actions', object: @author
