.container
  .row
    .col-ms-6
      = simple_form_for([:admin, @partner_bank], html: {multipart: true}) do |f|
        = f.error_notification message: t('messages.error_notification')

        .form-inputs
          = render 'admin/shared/form_ancestry', f: f, object: @partner_bank
          = f.association :partner
          = f.association :bank
          = f.input :account
          = f.input :comment

          = f.input :status, default: 0
          /= render 'admin/shared/status_buttons', f: f

          = render 'admin/shared/form_rich_text_content', f: f, object: @partner_bank
          = render 'admin/shared/form_images', f: f, object: @partner_bank
          = render 'admin/shared/form_actions', f: f, object: @partner_bank
