.container
  %h1= t Post.model_name.human
  %table.table.table-striped
    %tbody
      - @post.attributes.each do |key, value|
        - unless key == 'id' || key.include?('digest') || key == 'created_at' || key == 'updated_at'
          %tr
            - if key == 'status'
              %td= t 'status.status'
              %td= status_mark @post.status
            - elsif key == 'ancestry'
              - if @post.parent.present?
                %td= t 'tree.parent'
                - if Post.column_names.include? 'title'
                  %td= "#{@post.parent.title} (id: #{@post.ancestry})"
                - elsif Post.column_names.include? 'name'
                  %td= "#{@post.parent.name} (id: #{@post.ancestry})"
                - else
                  %td= "#{@post.ancestry})"
              - if @post.children.present?
                %tr
                  %td= t 'tree.children'
                  %td
                    - @post.children.each do |child|
                      - if Post.column_names.include? 'title'
                        = "#{child.title} (id=#{child.id})"
                      - elsif Post.column_names.include? 'name'
                        = "#{child.name} (id=#{child.id})"
                      - else
                        = "#{child.id}"
                      - unless child == @post.children.last
                        %br
            - else
              %td= t "activerecord.attributes.post.#{key}"
              %td= value
      = render 'admin/shared/show_images', object: @post
  = render 'admin/shared/show_rich_text_content', object: @post
  = render 'admin/shared/show_actions', object: @post
